@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/HelveticaNeueCyr-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/HelveticaNeueCyr-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/AvenirNextCyr-Demi.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/AvenirNextCyr-Regular.woff') format('woff');
}

