.referendum {

  &__body {
    line-height: 1.75;
  }

  &__url {
    @extend .text-overflow;
    background: white;
    border-left: 2px solid color(primary);
    display: block;
    font-family: AvenirNext, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.5em 1em;

    @include breakpoint(medium) {
      border-left-width: 4px;
      font-size: 1em;
    }
  }

  &__footer,
  &__controls {
    .icon {
      @include responsive(font-size, 1em 1.25em 1.5em);
      margin-right: 0.35em;
    }
  }

  &__controls {
    @include responsive(font-size, 1em 1.1em 1.25em);

    .icon-thumbs-down {
      @include responsive(margin-left, 0.5em 1em 1.5em);
    }
  }

  &__footer {
    @include responsive(font-size, 0.9em 1em);
    font-family: AvenirNext, sans-serif;
  }

  &__stake {
    background: url('shared/referendum/eos.svg') no-repeat 0 50%;
    background-size: 1.4em;
    line-height: 1;
    opacity: 0.75;
    padding: 1em 0 1em 2em;
  }

  &__sub-title {
    font-family: AvenirNext, sans-serif;
    font-size: 0.6em;
  }

}
