.card-collapsable {

  @extend .card;
  background: color(gray);
  border-radius: 0;
  color: darken(color(gray), 70);
  cursor: pointer;
  position: relative;

  * + & {
    @include responsive(margin-top, 2px 1em 1.5em);
  }

  @include breakpoint(medium) {
    // left border
    &:before {
      border-left: 0.5em solid darken(color(gray), 10);
      bottom: -2px;
      content: '';
      left: -2px;
      position: absolute;
      top: -2px;
    }
  }

  &__title {
    @extend .title, .text-overflow;
    padding-right: 1.5em;
    position: relative;
  }

  &__placeholder-title {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    white-space: normal;
  }

  &__sub-title {
    @include responsive(font-size, 0.9em 1em 1.1em);
    font-weight: 500;
    line-height: 1.5;
  }

  &__chevron {
    cursor: pointer;
    font-size: 0.85em;
    position: absolute;
    right: 0.2em;
    top: 0.175em;
    transition: transform 0.2s;
  }

  &__line {
    @extend .small-spacing;
    border-top: 2px solid darken(color(gray), 10);
  }

  &.bleed-for-small {
    @include breakpoint(small only) {
      margin-left: -1em;
      margin-right: -1em;
    }
  }

  &--expanded {
    cursor: inherit;
  }

  &--expanded &__chevron {
    transform: scaleY(-1);
  }

}

